/* ==========
   Imports
   ========== */
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    height: 100vh;
    font-family: 'Poppins', arial; 
    overflow-x: hidden !important;
    background: #04021a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='432' height='432' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23542009' stroke-width='2.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23c73616'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

img{
    border-radius: 10px;
}
.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}

.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: 900;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
.text-uppercase {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    line-height: 2em;
}
.italics-h4{
    font-family: 'Lobster', cursive;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
    
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
}
.team-member:hover .team-hover .desk {
    padding-top: 5px;
    top: 50%;
    font-size: 1em;
}
@media only screen and (max-width: 500px) {
    .team-member:hover .team-hover .desk {
        /* font-size: 12px; */
        font-size: .9em;
    }

}
@media screen and (max-width: 500px) {
    .col-lg-4{
        width: 100%;
        float: left;
    
    }

}

@media only screen and (max-width: 700px) {
    .team-member:hover .team-hover .desk {
        /* font-size: 12px; */
        font-size: .9em;
    }

}

.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 10px 0 40px;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
@media only screen and (min-width: 1200px){
    .sm-p{
        clear: left;
    }
}
