@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

/* Basic Typography */

.footer h1,
.footer p,
section{  
    margin: 0;
}

section{
    padding: 0em 2em;
}


.footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer a{
    text-decoration: none;
}

.footer img{
    width: 100%;
}

.title{
    text-align: center;
    font-family: 'Poppins', serif;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 2.45rem;
}

.desc{
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.footer{
    padding-top: 5em;
    padding-bottom: 5em;
    p{
        padding: 0em 1em;
        text-align: center;
    }
}

/* ==========
   Footer
   ========== */
   .footer{
    h1{
        padding-top: 1em;
        line-height: 0.8;
    }
    text-align: center;
    * {
        color: #fff;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 1em;
        li{
            margin: 0em 1em;;      
        }
        img{
            height: 30px;
            width: 30px;
        }
    }
    a:hover,
    a:focus{
        background: #4441DF;
    }
}
.footer-social{
    padding-top: 2em;
}
.footer-container  p{
        display: block;
        padding: 1em;
}

.footer-images{
    display: grid;
    place-content: center;
    img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}
/* ==========
Copyright Section
========== */
.copyright-section{
   text-align: center;
   padding: 1em 0em;
   font-size: 0.6rem;
   color: #fff;
}

@media only screen and (min-width: 800px){
    .copyright-section{
        font-size: 1em;
    }
}

@media only screen and (min-width: 1000px){
    section{
        padding-left: 14em;
        padding-right: 14em;
    }
    .footer{
        padding-top: 10em;
        padding-bottom: 10em;
    }
}

