@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Basic Typography*/

.nav-container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container a{
    text-decoration: none;
}

/* ==========
   Header
   ========== */
   .nav-container{
    a{
        color: #3FE4DB;
        
    }
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em 2em;
    a:hover,
    a:focus{
        color: #3FE4DB;
    }
    li a:hover,
    li a:focus{
        color:#fff;
    }
    .logo{
        color: white;
        font-weight: bold;
    }

    nav{
        ul{
            display: flex;   
           li{
            a{
                display: block;
                padding: 0em 1em;
            }
           }
        }
    }
}

@media only screen and (min-width: 800px){
    header{
        padding: 2em 8em;
    }
}

@media only screen and (min-width: 1000px){
    header{
        padding-left: 9em;
        padding-right: 9em;
    }
}

@media only screen and (min-width: 1100px){
    header{
        padding-left: 14em;
        padding-right: 14em;
    }
}


@media only screen and (min-width: 1250px){
    header{
        padding-left: 12em;
        padding-right: 12em;
    }
}