@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41dd41d.eot?#iefix") format("embedded-opentype"), url("Flaticon.woff2") format("woff2"), url("Flaticon.woff") format("woff"), url("Flaticon.ttf") format("truetype"), url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
body{
  background-color: #04021a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='432' height='432' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23542009' stroke-width='2.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23c73616'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

}
img {
  width: 100%;
}

.section-team {
  padding: 80px 0;
}

.section-team .header-section {
  margin-bottom: 50px;
}

.section-team .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #3e64ff;
}

.title {
  color: #fff;
  text-align: center;
  font-family: 'Poppins', serif;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 2.45rem;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  background:  rgba(51, 51, 59, 0.4);
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: rgba(230, 128, 45, 0.56);
}

.person-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px dashed transparent;
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px auto;
}

.section-team .single-person:hover .person-image {
  /*padding: 12px;*/
  border: 4px dashed #fff;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  color: rgba(5, 201, 201, 0.89);
  font-family: 'Poppins', arial;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #016cec;
  font-family: 'Flaticon';
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}

// .fa-linkedin-in,
// .fa-github {
//    color: #fff;
//  }

 .fab {
   color: #fff;
 }

.fab:hover{
    color: #000;
}

// .fa-user-circle{
//   color: black;
// }

.col-sm-6 {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

@media only screen and (max-width: 600px) {
  .single-person {
    display: -ms-grid;
    display: grid;
    // -ms-grid-columns: (auto)[2];
     grid-template-columns: repeat(2, auto);
    grid-column-gap: 2em;
  }
  .person-image {
    margin: auto;
    height: 120px;
    width: 120px;
  }
}
/*# sourceMappingURL=team-styles.css.*/
